---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>
    <section class="bg-slate-700 text-center py-44 text-zinc-300">
        <h1 class="text-white text-2xl font-bold mb-2">Contact Us</h1>
        <p>We are here for you.</p>
    </section>
</Layout>