---
import Layout from "../layouts/Layout.astro";
import heroImage from "../images/secPageImage1.jpg"
import secondImage from "../images/secPageImage2.jpg"

import { Image } from 'astro:assets';
---

<Layout title="Page">
    <section class="">
        
        <div class="relative text-white">
			<div class="blur-load-1 blurred-img"><Image quality={"low"} src={heroImage} loading="lazy" class="brightness-50 w-full shadow-md rounded-sm h-760 object-cover" alt="italian building"/> </div>
            <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
                <h1 class="text-3xl font-bold">Hello there!</h1>
                <p class="text-neutral-300 mt-3 w-320 sm:w-500 md:w-500 lg:w-768 mx-auto ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque alias quia vitae odit, non harum expedita cumque accusantium voluptate esse reiciendis ducimus voluptatem vero, delectus enim? Sequi, nobis eum.</p>
                <button class="bg-red-500 py-2 w-28 rounded-sm my-5 hover:bg-red-600 my-transition text-md relative my-btn btn-under-anim ">Click Me!</button>
            </div>
        </div>
    </section>
    <section class="bg-zinc-200 text-center text-neutral-600 py-32">
        <h1 class="text-2xl font-bold text-neutral-800 mb-5">Lorem ipsum dolor sit amet.</h1>
        <p class=" mx-auto text-sm italic w-320 sm:w-500 md:w-768 xl:w-1280">Dolor sit amet consectetur adipisicing elit. Quidem, vero repudiandae neque illum eum totam inventore ea dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <button class="mt-5 border border-black py-2 px-3 tex-black relative rounded-sm my-btn btn-slide-anim">Click Now</button>
        
        <div class="border-b border-neutral-300 mx-auto mt-16 w-320 sm:w-500 md:w-768 xl:w-1280"></div>

        <div class="grid grid-cols-3 gap-16 mx-auto my-20 w-320 sm:w-500 md:w-768 xl:w-1280">

            <div class="grid grid-cols-3 col-span-3 content-center justify-center xl:col-span-1">
                <i class="fa-solid fa-paintbrush text-red-500 hover:text-red-600  text-7xl col-span-3 mb-5 md:col-span-1 md:text-8xl md:my-auto  xl:mb-5 xl:text-6xl xl:col-span-3"></i>
                <div class="text-center col-span-3 md:text-left md:col-span-2 md:mr-16 xl:mr-0 xl:text-center xl:col-span-3">
                    <h2 class="text-neutral-800 text-lg">Modern Designs</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet culpa quam rerum at dicta sed, atque totam beatae, ea enim eum aliquid soluta. Quas sit explicabo eos. Lorem, ipsum dolor.</p>
                </div>
            </div>
            
            <div class="grid grid-cols-3 col-span-3 xl:col-span-1">
                <i class="fa-solid fa-bullseye text-red-500 hover:text-red-600 text-7xl col-span-3 mb-5  md:col-span-1 md:text-8xl md:my-auto  xl:mb-5 xl:text-6xl xl:col-span-3"></i>
                <div class="text-center col-span-3 md:text-left md:col-span-2 md:mr-16 xl:mr-0 xl:text-center xl:col-span-3">
                    <h2 class="text-neutral-800 text-lg">Distinctive Designs</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque totam beatae, ea enim eum aliquid soluta. Id, minus amet rerum deleniti excepturi deserunt similique. Quas sit explicabo eos.</p>
                </div>
            </div>

            <div class="grid grid-cols-3 col-span-3 xl:col-span-1">
                <i class="fa-solid fa-lightbulb text-red-500 hover:text-red-600 text-7xl col-span-3 mb-5 md:col-span-1 md:text-8xl md:my-auto xl:mb-5 xl:text-6xl xl:col-span-3"></i>
                <div class="text-center col-span-3 md:text-left md:col-span-2 md:mr-16 xl:mr-0 xl:text-center xl:col-span-3">
                    <h2 class="text-neutral-800 text-lg">Creative Designs</h2>
                    <p>Lorem ipsum dolor. Eveniet culpa quam rerum at dicta sed, atque totam beatae, ea enim eum aliquid soluta. Id, minus amet rerum deleniti excepturi deserunt similique. Quas sit explicabo eos.</p>
                </div>
            </div>
        </div>


    </section>
    
    <section>
        <div class="relative text-white text-center">
			<div class="blur-load-2 blurred-img"><Image quality={"low"} loading="lazy" src={secondImage} class="my-brightness w-full shadow-md rounded-sm h-760 object-cover" alt="italian building"/></div>
            <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
                <h1 class="text-3xl font-bold">Hello there!</h1>
                <p class="text-neutral-200 mt-3 w-320 sm:w-500 md:w-500 lg:w-768 mx-auto ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque alias quia vitae odit, non harum expedita cumque accusantium voluptate esse reiciendis ducimus voluptatem vero, delectus enim? Sequi, nobis eum.</p>
                <button class="bg-red-500 py-2 w-28 rounded-sm my-5 hover:bg-red-600 my-transition text-md relative my-btn btn-under-anim ">Click Me!</button>
            </div>
        </div>
    </section>

</Layout>

<style>
    .blur-load-1{
		background-image: url(../images/secPageImage1-small.jpg);
		height: 760px;
	}
    .blur-load-2{
		background-image: url(../images/secPageImage2-small.jpg);
		height: 760px;
	}
    .my-brightness{
		filter: brightness(0.3);
	}

</style>








