---

export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---


<div class="flex flex-col bg-slate-100 p-5 shadow-sm">
	<img src={href} loading="lazy" alt="">
	<h2 class="text-center  text-xl mt-4">{title}</h2>
	<p class="mt-1">{body}</p>
</div>