---
import image1 from '../images/homeImage1.jpg';
import image2 from '../images/homeImage2.jpg';
import image3 from '../images/homeImage3.jpg';
import { Image } from 'astro:assets';
---  
<main class="slideshow-container">

    <div class="mySlides fade blur-load-1 blurred-img">
        <Image src={image1} format='avif' loading="lazy" class="w-full object-cover my-brightness" quality="low" fit="cover" alt="nature" style="height:87vh" />
        <div class="my-centered-text text-center text-white w-64 sm:w-500 md:768 xl:w-1280">
            <h1 class="font-bold mb-3 text-3xl sm:text-4xl md:text-5xl">Random Text</h1>
            <p class="text-base md:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt non praesentium quia quos quidem quibusdam alias itaque quasi, asperiores provident! Cum quos officia rerum, voluptates fuga eveniet libero similique esse provident neque.</p>
        </div>
        
        <!-- <div class="text text-5xl sm:text-7xl">Caption Text</div>
        <div class="sub-text text-2xl ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quod eius sit aliquam cumque reiciendis magnam eveniet, aspernatur dolorum error omnis provident unde doloremque voluptatum alias odit laborum nemo! Sit?</div> -->
    </div>

    <div class="mySlides fade blur-load-2 blurred-img">
        <Image src={image2} format='avif' loading="lazy" class="w-full object-cover my-brightness" quality="low" fit="cover" alt="nature" style="height:87vh" />
        <div class="my-centered-text  text-center text-white w-64 sm:w-500 md:768 xl:w-1280">
            <h1 class="font-bold mb-3 text-3xl sm:text-4xl md:text-5xl">Random Text 1</h1>
            <p class="text-base md:text-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias unde eaque tempore, officia libero facere explicabo! Iusto corrupti officiis ratione rerum veritatis sunt suscipit, ipsum odio nobis, obcaecati reprehenderit porro voluptates, minima similique saepe qui doloremque ea.</p>
        </div>
    </div>

    <div class="mySlides fade blur-load-3 blurred-img">
        <Image src={image3} format='avif' loading="lazy" class="w-full object-cover my-brightness" quality="low" fit="cover" alt="nature" style="height:87vh" />
        <div class="my-centered-text  text-center text-white w-64 sm:w-500 md:768 xl:w-1280">
            <h1 class="font-bold mb-3 text-3xl sm:text-4xl md:text-5xl">Random Text 2</h1>
            <p class="text-base md:text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui in obcaecati quis atque deserunt tempora, dignissimos labore, deleniti ea itaque sequi amet ipsa sint at nam nobis id.</p>
        </div>
    </div>

    <a class="prev" data-minusSlides >❮</a>
    <a class="next" data-plusSlides >❯</a>

</main>
<style>
    .blur-load-1{
        background-image: url(../images/homeImage1-small.jpg);
        
		height: 87vh;
    }
    .blur-load-2{
        background-image: url(../images/homeImage2-small.jpg);
        
		height: 87vh;
    }
    .blur-load-3{
        background-image: url(../images/homeImage3-small.jpg);
        
		height: 87vh;
    }
    * {box-sizing: border-box}
    .mySlides {display: none;position: relative; }
    .my-centered-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        
    }

/* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 2s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index: 60;
    }

/* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

/* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
    .text {
        color:white;
        font-weight: 800;
        padding: 8px 12px;
        position: absolute;
        bottom: 60%;
        line-height: 6rem;
        left: 15%;
    }
    .sub-text{
        color: #f5f5f5;
        padding: 8px 12px;
        position: absolute;
        bottom:53%;
        left: 15%;
    }@media (min-width: 540px) {.sub-text{bottom:45%}}

/* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
/* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    } 

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

/* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
    }
    .my-brightness{
		filter: brightness(0.3);
	}
</style>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    const minusBtn = document.querySelector("[data-minusSlides]")
    const plusBtn = document.querySelector("[data-plusSlides]")
    const currentBtn = document.querySelectorAll("[data-currentSlides]")
    
    minusBtn.addEventListener('click', () => {plusSlides(-1)})
    plusBtn.addEventListener('click', () => {plusSlides(1)})
    currentBtn.forEach((button) => {
        button.addEventListener('click', () => currentSlide(button.getAttribute("data-numberInfo")))
    })


    

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides") as HTMLCollectionOf<HTMLElement>;

        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slides[slideIndex-1].style.display = "block";  
    }
</script>