---
import { Navbar } from '../components/Navbar.jsx';

export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load/>
		<slot />
		
	</body>
</html>
<style is:global>
	body{
		font-family: "Roboto Mono" , monospace;
		background-color: #e5e7eb;
	}
	.my-transition{
		transition: 0.3s
	}
	.brand{
		font-family: "Roboto Mono", monospace;
		font-weight: 400;
		letter-spacing: 0.1rem;
		color:#374151;
		font-size: 2.25rem/* 36px */;
    	line-height: 2.5rem/* 40px */;
	}
	.smooth-btn{
		transition: transform 750ms;
	}
	.smooth-btn:hover,.button:focus-visible{
		transform: translateY(-0.2rem);
		background-color: #dc2626;
		transition: transform 250ms;
	}
	::-webkit-scrollbar {
		width: 10px;
		
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #d1d5db;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #9ca3af; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #6b7280; 
	}

	textarea:focus, input:focus{
    	outline: none;
		border-color: #9ca3af;
	}

</style>
<script>
	// window.onbeforeunload = function () {
	// 	window.scrollTo(0, 0);
	// }
	
</script>
